<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:i18n="http://exist-db.org/xquery/i18n">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title data-template="config:app-title"/>
        <meta name="description" content="Blog"/>

        <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap"/>
        <link rel="stylesheet" href="resources/css/theme.css"/>
        <script type="module" src="resources/scripts/pb-components-bundle.js"/>
        <custom-style>
            <style include="pb-common-styles">
                body {
                    --pb-link-theme: {
                        text-decoration: none;
                        color: black;
                    };

                    --paper-card-header: {
                        font-family: "Oswald",Verdana,"Helvetica",sans-serif;
                        background-color: #607D8B;
                    };

                    --paper-card-header-color: #F0F0F0;

                    --pb-view-height: calc(100vh - 200px);
                }

                .toolbar pb-navigation {
                    display: none;
                }

                @media (max-width: 1023px) {
                    .content-body {
                        margin: 0 8px;
                    }

                    .summary h1 {
                        font-size: 16px;
                    }

                    .tei-abstract2 {
                        display: none;
                    }
                }

                @media (min-width: 1024px) {
                    [drawer-toggle] {
                        display: none;
                    }

                    .content-body {
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        margin: 0 16px;
                    }

                    aside {
                        flex: 1 0;
                        min-width: 300px;
                        max-width: 400px;
                        height: var(--pb-view-height);
                        overflow: auto;
                    }

                    #view1 {
                        width: 36em;
                        max-width: 100%;
                    }

                    .content {
                        flex: 3 1;
                        margin: 8px 0 8px 32px;
                        font-size: 1.2em;
                    }
                }

                .summary li {
                    padding-left: 8px;
                    border-left: 3px solid transparent;
                }

                .summary ul {
                    list-style: none;
                    padding: 0;
                }

                .pubdate::before {
                    content: '\00B7';
                    padding-right: 8px;
                    padding-left: 8px;
                }

                .pubdate {
                    color: #808080;
                }

                .toc-toggle {
                    display: none;
                }

                pb-link {
                    margin-left: 0;
                }
            </style>
        </custom-style>
    </head>

    <body>
        <pb-page data-template="pages:pb-page" locales="resources/i18n/{{lng}}.json" unresolved="unresolved">
            <pb-document id="document1" data-template="pages:pb-document" odd="docbook"/>
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer slot="drawer" align="right">
                    <div class="drawer-content">
                        <pb-media-query query="max-width: 1023px">
                            <!-- language selector -->
                            <pb-lang name="lang">
                                <paper-item>en</paper-item>
                                <paper-item>de</paper-item>
                                <paper-item>fr</paper-item>
                                <paper-item>gr</paper-item>
                                <paper-item>it</paper-item>
                                <paper-item>pl</paper-item>
                            </pb-lang>
                            <pb-collapse>
                                <h3 slot="collapse-trigger">Articles</h3>
                                <div slot="collapse-content">
                                    <pb-load class="summary" url="modules/blog.xql?doc=${doc}" auto="auto" emit="transcription" data-template="pages:parse-params"/>
                                </div>
                            </pb-collapse>
                            <pb-collapse>
                                <h3 slot="collapse-trigger">
                                    <pb-i18n key="menu.download.title">Download</pb-i18n>
                                </h3>
                                <paper-listbox slot="collapse-content">
                                    <paper-item>
                                        <pb-download type="tex" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-latex" title="i18n(pdf-latex)">
                                            <pb-i18n key="menu.download.pdf-latex"/>
                                        </pb-download>
                                    </paper-item>
                                    <paper-item>
                                        <pb-download type="tex" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.latex-source" title="i18n(pdf-latex)" source="source">
                                            <pb-i18n key="menu.download.latex-source"/>
                                        </pb-download>
                                    </paper-item>
                                    <paper-item>
                                        <pb-download type="pdf" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-fo" title="pdf-fo">
                                            <pb-i18n key="menu.download.pdf-fo"/>
                                        </pb-download>
                                    </paper-item>
                                    <paper-item>
                                        <pb-download type="pdf" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.fo-source" title="i18n(pdf-fo)" source="source">
                                            <pb-i18n key="menu.download.fo-source"/>
                                        </pb-download>
                                    </paper-item>
                                    <paper-item>
                                        <pb-download type="epub" src="document1" data-i18n="[title]menu.download.epub" dialog="downloadDialog">
                                            ePUB
                                        </pb-download>
                                    </paper-item>
                                    <paper-item>
                                        <pb-edit-xml src="document1" data-i18n="[title]menu.download.view-tei" title="view-tei">
                                            XML
                                        </pb-edit-xml>
                                    </paper-item>
                                </paper-listbox>
                            </pb-collapse>
                            <pb-restricted login="login">
                                <pb-collapse>
                                    <h3 slot="collapse-trigger">
                                        <pb-i18n key="menu.admin.title">Admin</pb-i18n>
                                    </h3>
                                    <paper-listbox slot="collapse-content">
                                        <paper-item>
                                            <pb-download data-template="pages:edit-odd-link" src="document1">
                                                <pb-i18n key="menu.admin.edit-odd">Edit ODD</pb-i18n>
                                            </pb-download>
                                        </paper-item>
                                        <paper-item>
                                            <a href="${app}/manage.html" data-template="pages:parse-params">
                                                <pb-i18n key="menu.admin.appGenerator"/>
                                            </a>
                                        </paper-item>
                                    </paper-listbox>
                                </pb-collapse>
                            </pb-restricted>
                        </pb-media-query>
                    </div>
                </app-drawer>

                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="templates:include" data-template-path="templates/menu.html"/>
                        <app-toolbar data-template="templates:include" data-template-path="templates/toolbar.html"/>
                    </app-header>

                    <main class="content-body">
                        <pb-media-query query="min-width: 1024px">
                            <aside>
                                <h1>Blog</h1>
                                <pb-load class="summary" url="modules/blog.xql?doc=${doc}" auto="auto" emit="transcription" data-template="pages:parse-params"/>
                            </aside>
                        </pb-media-query>
                        <div class="content">
                            <pb-view id="view1" src="document1" view="single" subscribe="transcription" emit="transcription" append-footnotes="append-footnotes" odd="docbook"/>
                        </div>
                    </main>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
    </body>
</html>