<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:i18n="http://exist-db.org/xquery/i18n">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title data-template="config:app-title"/>
        <meta name="description" content="Documentation"/>
        <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap"/>
        <link rel="stylesheet" href="resources/css/theme.css"/>
        <script type="module" src="resources/scripts/pb-components-bundle.js"/>
        <custom-style>
            <style include="pb-common-styles">
                body {
                    --pb-link-theme: {
                        text-decoration: none;
                        color: black;
                    };

                    --paper-card-header: {
                        font-family: "Oswald",Verdana,"Helvetica",sans-serif;
                        background-color: #607D8B;
                    };

                    --paper-card-header-color: #F0F0F0;

                    --pb-footnotes: {
                        padding-top: 10px;
                        margin-top: 20px;
                        border-top: 1px solid #C0C0C0;
                    };
                }

                #view1 {
                    margin: 8px 16px;
                }

                @media (min-width: 769px) {
                    .toolbar pb-navigation {
                        display: none;
                    }

                    #view1 {
                        max-width: 60vw;
                    }
                }

                .content-body {
                    position: relative;
                    display: flex;
                    justify-content: center;
                }

                .content-body pb-navigation {
                    position: fixed;
                    bottom: 45%;
                    --paper-fab-background: #35424b;
                    color: white;
                }

                .content-body pb-navigation[direction=backward] {
                    left: 20px;
                }

                .content-body pb-navigation[direction=forward] {
                    right: 20px;
                }

                @media (max-width: 769px) {
                    .content-body pb-navigation {
                        display: none;
                    }
                }
            </style>
        </custom-style>
    </head>

    <body>
        <pb-page data-template="pages:pb-page" locales="resources/i18n/{{lng}}.json" unresolved="unresolved">
            <pb-document id="document1" data-template="pages:pb-document"/>
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="templates:include" data-template-path="templates/drawer.html"/>
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="templates:include" data-template-path="templates/menu.html"/>
                        <app-toolbar data-template="templates:include" data-template-path="templates/toolbar.html"/>
                    </app-header>

                    <pb-drawer toggle="tocToggle" class="tocDrawer" emit="toc" subscribe="transcription">
                        <div class="drawer-content">
                            <h3>
                                <pb-i18n key="document.contents">Contents</pb-i18n>
                            </h3>
                            <pb-load id="toc" url="templates/toc.html?target=transcription" src="document1" subscribe="toc" load-once="load-once">
                                <pb-i18n key="dialogs.loading">Loading</pb-i18n>
                            </pb-load>
                        </div>
                    </pb-drawer>

                    <section class="breadcrumbs">
                        <pb-view id="title-view1" src="document1" subscribe="transcription">
                            <pb-param name="mode" value="breadcrumbs"/>
                        </pb-view>
                    </section>

                    <main class="content-body">
                        <pb-navigation direction="backward" unit="page" emit="transcription" subscribe="transcription">
                            <paper-fab icon="icons:chevron-left"/>
                        </pb-navigation>
                        <pb-view id="view1" src="document1" column-separator=".tei-cb" append-footnotes="append-footnotes" subscribe="transcription" emit="transcription"/>
                        <pb-navigation direction="forward" unit="page" emit="transcription" subscribe="transcription">
                            <paper-fab icon="icons:chevron-right"/>
                        </pb-navigation>
                    </main>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
    </body>
</html>