<?xml version="1.0" encoding="UTF-8"?>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

    <title data-template="config:app-title"/>
    <meta name="description" content="Shakespeare Play"/>
    <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap"/>
    <link rel="stylesheet" href="resources/css/theme.css"/>
    <script type="module" src="resources/scripts/pb-components-bundle.js"/>
    <script type="module" src="resources/scripts/pb-facsimile.js"/>
    <custom-style>
        <style include="pb-common-styles">
            body {
                --pb-link-theme: {
                    font-family: "Junicode", Georgia, "Times New Roman", serif;
                    text-decoration: none;
                    color: black;
                }

                ;

                --pb-view-height: calc(100vh - 212px);
            }

            #view1 {
                flex: 1 1;
                font-family: "Junicode", Georgia, "Times New Roman", serif;
                font-size: 14pt;
                line-height: 1.42857143;
                padding: 0 16px;
                height: var(--pb-view-height);
                overflow: auto;
            }

            .content-body {
                position: relative;
                display: flex;
                justify-content: center;
                padding: 0 20px;
            }

            .content-body pb-facsimile {
                flex: 1 1;
                height: var(--pb-view-height);
            }

            @media (max-width: 769px) {
                pb-facsimile {
                    display: none;
                }
            }
        </style>
    </custom-style>
</head>

<body>
    <pb-page data-template="pages:pb-page" locales="resources/i18n/{{lng}}.json" unresolved="unresolved">
        <pb-document id="document1" data-template="pages:pb-document"/>
        <app-drawer-layout force-narrow="force-narrow">
            <app-drawer data-template="templates:include" data-template-path="templates/drawer.html"/>
            <app-header-layout>
                <app-header slot="header" fixed="fixed">
                    <app-toolbar data-template="templates:include" data-template-path="templates/menu.html"/>
                    <app-toolbar data-template="templates:include" data-template-path="templates/toolbar.html"/>
                </app-header>
                <pb-drawer toggle="tocToggle" class="tocDrawer" emit="toc" subscribe="transcription">
                    <div class="drawer-content">
                        <h3>
                            <pb-i18n key="document.contents">Contents</pb-i18n>
                        </h3>
                        <pb-load id="toc" url="templates/toc.html?target=transcription" src="document1" subscribe="toc" load-once="load-once">
                                <pb-i18n key="dialogs.loading">Loading</pb-i18n>
                            </pb-load>
                    </div>
                </pb-drawer>
                <section class="breadcrumbs">
                    <pb-view id="title-view1" src="document1" xpath="//teiHeader/fileDesc/titleStmt" view="single">
                        <pb-param name="mode" value="title"/>
                    </pb-view>
                </section>
                <main class="content-body">
                    <pb-view id="view1" src="document1" column-separator=".tei-cb" append-footnotes="append-footnotes" subscribe="transcription" emit="transcription" wait-for="#facsimile"/>
                    <pb-facsimile id="facsimile" base-uri="https://apps.existsolutions.com/cantaloupe/iiif/2/" default-zoom-level="0" show-navigation-control="show-navigation-control" show-navigator="show-navigator" prefix-url="resources/images/openseadragon/" subscribe="transcription"/>
                </main>
            </app-header-layout>
        </app-drawer-layout>
    </pb-page>
    <div class="splash"/>
</body>

</html>