<?xml version="1.0" encoding="UTF-8"?>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

    <title data-template="config:app-title"/>
    <meta name="description" content="Graves' Letter"/>

    <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap"/>
    <link rel="stylesheet" href="resources/css/theme.css"/>
    <script type="module" src="resources/scripts/pb-components-bundle.js"/>
    <script type="module" src="resources/scripts/pb-leaflet-map.js"/>
    <custom-style>
        <style include="pb-common-styles">
            body {
                --pb-link-theme: {
                    text-decoration: none;
                    color: black;
                }

                ;

                --pb-view-height: calc(100vh - 220px);
            }

            #view1 {
                flex: 3 0;
                font-size: 13pt;
                line-height: 1.42857143;
                max-width: 60vw;
                margin: 8px 16px;
                height: var(--pb-view-height);
                overflow: auto;
            }

            .content-body {
                position: relative;
                display: flex;
                justify-content: center;
                margin: 0 10px;
            }

            @media (max-width: 769px) {
                .content-body pb-navigation {
                    display: none;
                }
            }

            aside {
                flex: 1 0;
                min-width: 360px;
                max-width: 480px;
                margin-right: 16px;
                height: var(--pb-view-height);
                overflow: auto;

                --pb-highlight: {
                    display: block;
                    width: 100%;
                    padding: 0 8px;
                }

                ;
            }

            pb-leaflet-map {
                width: 100%;
                height: 100%;
            }

            .toc-toggle,
            pb-navigation {
                display: none;
            }
        </style>
    </custom-style>
</head>

<body>
    <pb-page data-template="pages:pb-page" locales="resources/i18n/{{lng}}.json" unresolved="unresolved">
        <pb-document id="document1" data-template="pages:pb-document"/>
        <app-drawer-layout force-narrow="force-narrow">
            <app-drawer data-template="templates:include" data-template-path="templates/drawer.html"/>
            <app-header-layout>
                <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                    <app-toolbar data-template="templates:include" data-template-path="templates/menu.html"/>
                    <app-toolbar data-template="templates:include" data-template-path="templates/toolbar.html"/>
                </app-header>

                <section class="breadcrumbs">
                    <pb-view id="title-view1" src="document1" xpath="//teiHeader/fileDesc/titleStmt/title" view="single">
                        <pb-param name="header" value="short"/>
                    </pb-view>
                </section>
                <section class="content-body">
                    <pb-view id="view1" src="document1" column-separator=".tei-cb" append-footnotes="append-footnotes" subscribe="transcription" emit="transcription"/>
                    <aside class="places">
                        <pb-view src="document1" odd="graves" subscribe="transcription" emit="letter" wait-for="pb-leaflet-map">
                            <pb-param name="mode" value="facets"/>
                        </pb-view>
                    </aside>
                    <aside>
                        <pb-leaflet-map subscribe="letter" access-token="pk.eyJ1Ijoid29sZmdhbmdtbSIsImEiOiJjam1kMjVpMnUwNm9wM3JwMzdsNGhhcnZ0In0.v65crewF-dkNsPF3o1Q4uw" images-path="resources/images/leaflet/" css-path="resources/css/vendor/"/>
                        <!--pb-map api-key="AIzaSyA8_mVF-4N2NRWfQ9y6ADgrkiQgoml3trw" zoom="14" subscribe="letter"></pb-map-->
                    </aside>
                </section>
            </app-header-layout>
        </app-drawer-layout>
    </pb-page>
    <div class="splash"/>
</body>

</html>