<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title data-template="config:app-title"/>
        <meta name="description" content="Default single text layout"/>
        <meta name="pb-template" content="view.html"/>

        <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap"/>
        <link rel="stylesheet" href="resources/css/theme.css"/>
        <link rel="stylesheet" href="resources/css/theme-barth.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
        <script type="module" src="pb-leaflet-map.js" data-template="pages:load-components"/>
        <style>
            body {
                --pb-content-font-family: var(--pb-sans-font-family);
                --pb-content-font-size: var(--pb-base-font-size);
            }
            .description {
                margin: 0 auto;
                display: grid;
                grid-template-columns: minmax(auto, var(--pb-text-max-width)) minmax(auto, 460px);
                justify-content: center;
            }
        </style>
    </head>
    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved" locales="resources/i18n/{{ns}}/{{lng}}.json">
            <pb-document id="document1" data-template="pages:pb-document"/>
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="lib:include" data-template-path="templates/drawer.html"/>
                <app-header-layout fullbleed="">
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                        <app-toolbar data-template="lib:include" data-template-path="templates/toolbar.html">
                            <header class="breadcrumbs" data-template="pages:parse-params" data-path="/kontexte/personen/" data-target="toolbar-start">
                                &gt;
                                <a href="${app}/places/?view=${view}&amp;search=${search}">Orte</a> &gt; 
                                <a href="${app}/places/?category=${category}&amp;search=${search}">${category}</a> &gt;
                                <span>${label}</span>
                            </header>
                        </app-toolbar>
                    </app-header>
                    <main class="places">
                        <pb-geolocation latitude="${latitude}" longitude="${longitude}" label="${title}" auto="" data-template="pages:parse-params"/>
                        <pb-leaflet-map id="map" zoom="13">
                            <pb-map-layer show="" base="" label="HikeBike Map" url="https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token={accessToken}" max-zoom="19" access-token="pk.eyJ1Ijoid29sZmdhbmdtbSIsImEiOiJjam1kMjVpMnUwNm9wM3JwMzdsNGhhcnZ0In0.v65crewF-dkNsPF3o1Q4uw" attribution="© Mapbox © OpenStreetMap">
                            </pb-map-layer>
                        </pb-leaflet-map>
                        <div class="description">
                        <div>
                            <pb-view id="view1" src="document1" xpath="${xpath}" view="single" subscribe="transcription" emit="transcription" data-template="pages:parse-params">
                                <pb-param name="mode" value="place-meta"/>
                            </pb-view>
                            <div data-template="app:entity-mentions"/>
                        </div>
                        <pb-view id="links" src="document1" xpath="${xpath}" view="single" subscribe="transcription" emit="transcription" data-template="pages:parse-params">
                                <pb-param name="mode" value="links"/>
                            </pb-view>
                        </div>
                    </main>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
    </body>
</html>