<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title data-template="config:app-title"/>
        <meta name="description" content="Serafin Letter"/>
        <meta name="pb-template" content="translation.html"/>

        <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap"/>
        <link rel="stylesheet" href="resources/css/theme.css"/>
        <script type="module" src="resources/scripts/pb-components-bundle.js"/>
        <custom-style>
            <style include="pb-common-styles">
                body {
                    --pb-link-theme: {
                        font-family: "Junicode",Georgia,"Times New Roman",serif;
                        text-decoration: none;
                        color: black;
                    };

                    --pb-alternate-inline: var(--paper-blue-800);

                    --pb-view-height: calc(100vh - 192px);
                }

                #view1, #view2 {
                    flex: 1 1;
                    font-family: "Junicode", Georgia, "Times New Roman", serif;
                    font-size: 14pt;
                    line-height: 1.42857143;
                    max-width: 60vw;
                    margin: 0 16px;
                    max-height: var(--pb-view-height);
                    overflow: auto;
                }

                .content-body {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    padding: 0 20px;
                }

                .content-body pb-view {
                    flex: 1 1;
                }

                .toc-toggle, pb-navigation {
                    display: none;
                }
            </style>
        </custom-style>
    </head>

    <body>
        <pb-page data-template="pages:pb-page" locales="resources/i18n/{{lng}}.json" unresolved="unresolved">
            <pb-document id="document1" data-template="pages:pb-document"/>
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="templates:include" data-template-path="templates/drawer.html"/>
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="templates:include" data-template-path="templates/menu.html"/>
                        <app-toolbar data-template="templates:include" data-template-path="templates/toolbar.html"/>
                    </app-header>

                    <section class="breadcrumbs">
                        <pb-view id="title-view1" src="document1" xpath="//teiHeader" view="single">
                            <pb-param name="header" value="letter"/>
                        </pb-view>
                    </section>
                    <main class="content-body">
                        <pb-view id="view1" src="document1" xpath="! (.//text[@xml:lang = 'la']/body | .//text/body)[1]" column-separator=".tei-cb" append-footnotes="append-footnotes" subscribe="transcription" emit="transcription"/>
                        <pb-view id="view2" src="document1" xpath="//text[@xml:lang='pl']/body" subscribe="transcription" column-separator=".tei-cb" append-footnotes="append-footnotes"/>
                    </main>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
    </body>
</html>