.content {
    hyphens: auto;
    position: relative;
}

@media (max-width: 1023px) {
    .content .pb, .content .pb-column2 {
        display: none;
    }
}
img.img1 {
    width: 20%;
    display: inline;
    vertical-align: middle; 
}
img {
    width: 80%;
    display: block;
    margin: 0 auto;
}



a:link, a:visited {
    color: var(--pb-link-color);
    text-decoration: none;
}

.metadata {
    margin-bottom: 30px;
}

.metadata [slot="collapse-trigger"] {
    font-family: var(--pb-heading-font-family);
    font-weight: var(--pb-heading-font-weight);
    font-size: 16px;
    line-height: var(--pb-heading-line-height);
}

.metadata [slot="collapse-content"] {
    font-size: 16px;
    margin-top: 16px;
}

.metadata .category {
    display: inline-block;
}

.metadata h3, h3.metadata {
    margin: 1em 0 0 0;
    font-size: 1em;
}

.argument p, p.center {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.long-indent {
    text-indent: 5em;
}

.epigraph .can {
    text-align: center;
    display: block;
    margin-bottom: 1em;
}

.epigraph .quote {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    display: block;
}

.metaData {
    margin-top: 1em;
}

/* .randLinks {
    margin-left: 30px;
} */

.pb {
    margin-right: -95px;
}

.pbTable {
    margin-right: -485px;
}

.pb-column2 {
    position: absolute;
    right: -95px;
} 

.pb-column {
    position: absolute;
    right: -95px;
} 



/* p:last-child {
    padding-bottom: 40px;
} */

div+a.fn-back {
    white-space: nowrap !important;
}

.footnotes {
    margin-top: 1em;
    display: inline-block;
    padding-top: 20px;
    font-size: var(--pb-footnote-font-size);
    text-align:justify;
}

sup {
    vertical-align: baseline;
    top: -0.5em;
    position: relative;
}

.part-nav a {
    display: block;
    text-decoration: none;
    color: #607d8b;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.bible-quote {
    display: table-row;
}

.bible-quote .verse {
    display: table-cell;
}

.bible-quote .n {
    display: table-cell;
    width: 100px;
    text-align: right;
}

.tei-person {
    margin-top: .5em;
}

.tei-person:first-child {
    margin-top: 0;
}

.signature {
    width: max-content;
    margin-left: auto;
}

.country::before, .settlement::before {
    content: ', ';
}

.geolink {
    float: right;
    color: #bf8211;
    padding-left: 10px;
}

.fn-back {
    text-decoration: none;
    white-space: nowrap !important;
}

.text-recte {
    font-style: normal !important;
}

.bold {
    font-weight: bold;
}

.right {
    text-align: right !important;
}

.text-larger {
    font-size: larger;
}

.text-small {
    font-size: smaller !important;
}

p.margin-top {
    text-align: justify;
    margin-top: 2em;
}

.text-indent {
    text-indent: 1.2em;
    margin-top: -1em !important;
}

p.asHead {
    text-align: center;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}

p.indent {
    text-indent: 5em !important;
    margin-bottom: -1em !important;
    margin-top: 2em !important;
}

.center {
    text-align: center;
    margin-bottom: 2em;
}

a[rel="footnote"] {
    white-space: nowrap;
    vertical-align: baseline !important;
    position: relative;
    top: -0.5em;
    margin-left: 0.1em;
}

a.note+span.note::before {
    content: ' ';
}

pb-popover {
    --pb-popover-trigger: 'click';
    --pb-popover-persistent: true;
    cursor: pointer;
}

pb-popover.footnote {
    --pb-popover-trigger: 'mouseenter';
    --pb-popover-persistent: false;
}


.entity-details .link {
    display: block;
    margin-top: 10px;
    text-align: right;
}

iron-icon[icon="av:library-books"],
.bibl-icon {
    padding-left: .2em;
    font-style: normal !important;  
}
iron-icon[icon="av:queue-music"],
.song-icon {
    padding-left: .2em;
    font-style: normal !important;
}

.metadata .bible-ref {
    display: block;
}

h1.person {
    margin-bottom: 0;
}

.person-bio {
    margin-top: 1em;
}

.dateline-2col .sender {
    text-align: left;
}

.dateline-2col .sender .persName:first-child {
    display: block;
}

.list-ident {
    float: left;
    margin-left: -1em;
}

.iron-icon-small {

    --iron-icon-width: 0.8rem;
    --iron-icon-hight: 0.8rem;
}
.iron-icon-song {

    --iron-icon-width: 1.2rem;
    --iron-icon-hight: 1.2rem;
}

.hidden {
    display: none;
}

:lang(el) {
    font-family:'Times New Roman', Times, serif;
}

:lang(heb) {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.synoptic {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1em;
    padding-right: -100px;
}

.synoptic > * {
    padding-right: 100px;
    text-align: justify;
}

.synoptic p {
    margin-top: 0;
}

.parallel-head {
    margin-top: 3em;
    text-align: center;
    margin-bottom: 3em;
    font-size: larger;
}

.bible-source{
    display:block;
    font-size: smaller;
    text-align: right;
    color: gray;
}

.verse-number {
    color: gray;
    font-size: smaller;
    margin: 0 1em; 
}

.bible-passage {
    color: #779809
}

.bible-passage.register {
    display:block;
}
