
.logo {
    background-image: url("../images/logo-small.png");
}

.splash {
    background-image: url("../images/logo.png");
}

body {
    --pb-sans-font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    --pb-heading-font-family: var(--pb-sans-font-family);
    --pb-text-max-width: 940px;
    --pb-splash-image-size: 512px auto;
    --pb-splash-background-color: var(--pb-color-inverse);
    --pb-logo-image-width: 172px;
    --pb-logo-image-height: 64px;
    --pb-menubar-background-color: #22adeb;
    --pb-link-color: #22adeb;
    --pb-font-size-small: 13px;
    --pb-font-size-smaller: 14px;
    font-family: var(--pb-sans-font-family);
    scroll-padding-top: 128px;
}

.brand {
    display: flex;
    align-items: center;
}

.menubar {
    justify-content: left;
    column-gap: 20px;
}

.breadcrumbs {
    margin: 0;
}

@media (max-width: 1024px) {
    .breadcrumbs {
        font-size: var(--pb-font-size-smaller);
    }
}
.register {
    max-width: var(--pb-text-max-width);
    margin: 0 auto;
    margin-bottom: 2em;
}


@media (max-width: 1024px) {
    .register {
        margin: 0 20px;
    }
}

.register [slot=controls] {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}



/*Split lists (change direction)*/

pb-split-list::part(items) {
    margin-top: 1em;
    display:block !important;
    column-count: 2;
}

pb-split-list::part(items) span {
    display:block !important;
}

.split-list-item {
    display: block;
}

.register-list {
    margin-top: 1em;
    display:block;
    column-count: 2;
}

.places {
    height: calc(100vh - 128px);
}

.places pb-leaflet-map {
    height: 40%;
    width: 100%;
}

.places .register {
    height: 60%;
    overflow: auto;
}

.register-item {
    display:block;
}

.place iron-icon {
    margin-left: 1em;
    --iron-icon-height: 22px;
}

.matches {
    margin-left: 20px;
    margin-top: 10px;
    font: var(--pb-results-body-font);
}
.matches .hi {
    color: var(--pb-color-focus);
}

.facets pb-multi-select {
    display: block;
    padding-top: 20px;
}

.options h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.options h3 paper-checkbox {
    margin-left: 16px;
    font-size: 11px;
}

.options table {
    font-size: 14px;
}

.options table table {
    padding-left: 16px;
    width: 100%;
}

.options table td {
    padding: 4px 0;
}

.options table td:nth-child(2) {
    color: #808080;
    text-align: right;
    padding-left: 1em;
    vertical-align: middle;
}

footer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

pb-navigation[disabled] {
    display: block;
    visibility: hidden;
}

