<div data-template="browse:is-writeable" class="collection">
    <div data-template="browse:dispatch-action"/>
    <div data-template="app:list-works">
        <paper-button class="parent-link" data-template="browse:parent-collection">
            <iron-icon icon="icons:arrow-upward"></iron-icon>
            <pb-i18n key="browse.up">Up</pb-i18n>
        </paper-button>
        <ul class="documents" data-template="browse:browse" data-template-per-page="10">
            <li class="document">
                <pb-restricted login="login" group="tei">
                    <div class="document-select">
                        <paper-checkbox data-template="pages:parse-params" name="documentCheckbox" value="${ident}"></paper-checkbox>
                    </div>
                </pb-restricted>
                <div class="document-info">
                    <header data-template="browse:short-header"></header>
                    <div class="matches" data-template="app:show-hits"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
