<?xml version="1.0" encoding="UTF-8"?>
<app-drawer slot="drawer" align="right">
    <div class="drawer-content">
        <pb-media-query query="max-width: 1023px">
            <paper-listbox>
                <paper-item>
                    <a href="${app}/about" data-template="pages:parse-params">Über die Edition</a>
                </paper-item>
                <paper-item>
                    <a href="${app}/status" data-template="pages:parse-params">Aktueller Stand</a>
                </paper-item>
                <paper-item>
                    <a href="${app}/actors/" data-template="pages:parse-params"><pb-i18n key="menu.escher">Akteure</pb-i18n></a>
                </paper-item>
                <paper-item>
                    <a href="${app}/places/" data-template="pages:parse-params"><pb-i18n key="menu.escher">Orte</pb-i18n></a>
                </paper-item>
            </paper-listbox>
        </pb-media-query>
        <pb-restricted login="login">
            <div class="settings">
                <h3>Settings</h3>
                <pb-select-odd emit="transcription" subscribe="transcription" src="document1"/>
                <pb-edit-xml src="document1">
                    <paper-button alt="Edit source">
                        <iron-icon icon="icons:code"/> <pb-i18n key="menu.download.view-tei"/>
                    </paper-button>
                </pb-edit-xml>
            </div>
        </pb-restricted>
        <pb-login id="login" group="tei">
            <iron-icon slot="icon" icon="account-circle"/>
        </pb-login>
    </div>
</app-drawer>