<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:i18n="http://exist-db.org/xquery/i18n">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title data-template="config:app-title"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap"/>
        <link rel="stylesheet" href="resources/css/theme.css"/>
        <script type="module" src="resources/scripts/pb-components-bundle.js"/>
        <custom-style>
            <style include="pb-common-styles">
                body {
                    --pb-link-theme: {
                        text-decoration: none;
                        color: black;
                    };

                    --pb-content-theme: {
                        margin-right: 32px;
                    };

                    --paper-card-header: {
                        font-family: "Oswald",Verdana,"Helvetica",sans-serif;
                        background-color: #607D8B;
                    };

                    --paper-card-header-color: #F0F0F0;
                }

                .tp-title {
                    font-family: "Oswald",Verdana,"Helvetica",sans-serif;
                    font-size: 36px;
                    font-weight: 400;
                }

                pre {
                    font-family: "Ubuntu Mono",Menlo,Consolas,Courier,monospace;
                    font-size: 14px;
                    width: 100%;
                    overflow: auto;
                }

                section {
                    margin: 0 20px;
                }
                .content-body {
                    position: relative;
                    display: flex;
                    justify-content: center;
                }
            </style>
        </custom-style>
    </head>

    <body unresolved="unresolved">
        <pb-page data-template="pages:pb-page" locales="resources/i18n/{{lng}}.json" unresolved="unresolved">
            <app-header-layout>
                <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                    <app-toolbar data-template="templates:include" data-template-path="templates/menu.html"/>
                </app-header>

                <main>
                    <section>
                        <h1 class="tp-title">An error has occurred</h1>
                        <p>An error has been generated by the application.</p>
                        <pre class="error" data-template="lib:parse-params">${description}</pre>
                    </section>
                </main>
            </app-header-layout>
        </pb-page>
    </body>
</html>