<app-toolbar class="menubar">
    <div class="brand">
        <a href="${app}/texts/" class="logo" data-template="pages:parse-params"/>
        <h3>
            <a href="${app}/texts/" data-template="pages:parse-params">Karl Barth Gesamtausgabe</a>
        </h3>
    </div>
    <pb-media-query query="min-width: 1024px">
        <a href="${app}/about" data-template="pages:parse-params">Über die Edition</a>
        <a href="${app}/status" data-template="pages:parse-params">Aktueller Stand</a>
        <paper-menu-button>
            <a href="#" slot="dropdown-trigger" data-i18n="[title]menu.download.title" title="i18n(download)">
                <pb-i18n key="menu.register.title">Register</pb-i18n>
            </a>
            <paper-listbox slot="dropdown-content">
                <paper-item>
                    <a href="${app}/actors/" data-template="pages:parse-params">
                        <pb-i18n key="menu.escher">Akteure</pb-i18n>
                    </a>
                </paper-item>
            </paper-listbox>
            <paper-listbox slot="dropdown-content">
                <paper-item>
                    <a href="${app}/places/" data-template="pages:parse-params">
                        <pb-i18n key="menu.escher">Orte</pb-i18n>
                    </a>
                </paper-item>
            </paper-listbox>
            <paper-listbox slot="dropdown-content">
                <paper-item>
                    <a href="${app}/biblio/" data-template="pages:parse-params">Literatur</a>
            </paper-item>
            </paper-listbox>
            <paper-listbox slot="dropdown-content">
                <paper-item>
                    <a href="${app}/songs/" data-template="pages:parse-params">Lieder</a>
            </paper-item>
            </paper-listbox>
            <paper-listbox slot="dropdown-content">
                <paper-item>
                    <a href="${app}/bible/" data-template="pages:parse-params">Bibelstellen</a>
            </paper-item>
            </paper-listbox>
        </paper-menu-button>
        <pb-restricted login="login">
            <paper-menu-button>
                <a href="#" slot="dropdown-trigger">
                    <pb-i18n key="menu.admin.title">Admin</pb-i18n>
                </a>
                <paper-listbox slot="dropdown-content">
                    <paper-item>
                        <pb-download data-template="pages:edit-odd-link" src="document1">
                            <pb-i18n key="menu.admin.edit-odd">Edit ODD</pb-i18n>
                        </pb-download>
                    </paper-item>
                    <paper-item>
                        <pb-download url="api/apps/download">
                            <pb-i18n key="appgen.xar-download">Download App as .xar</pb-i18n>
                        </pb-download>
                    </paper-item>
                </paper-listbox>
            </paper-menu-button>
        </pb-restricted>
    </pb-media-query>

    <paper-dialog id="downloadDialog">
        <h2>
            <pb-i18n key="dialogs.generatingFile">Generating file ...</pb-i18n>
        </h2>
        <paper-dialog-scrollable>
            <pb-i18n key="dialogs.downloadMessage"/>
        </paper-dialog-scrollable>
        <div class="buttons">
            <paper-button dialog-confirm="dialog-confirm" autofocus="autofocus">
                <pb-i18n key="dialogs.close">Close</pb-i18n>
            </paper-button>
        </div>
    </paper-dialog>
</app-toolbar>