main {
    display: grid;
    grid-template-columns: 280px 1fr 30%;
    grid-template-rows: 100%;
    gap: 0 10px;
    height: calc(100vh - 150px);
    --pb-popover-min-width: 20vw;
    --pb-popover-max-width: 360px;
    --pb-annotation-stripes-light: #e0e0ef;
    --pb-annotation-stripes-dark: #50505f;
}

.inactive {
    display: none;
}

.annotation-editor {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 1fr;
}

main .toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: var(--pb-color-inverse);
}

main .toolbar button {
    background-color: transparent;
    border: 0;
    padding: 8px 12px;
    font-size: var(--pb-base-font-size);
}

main .toolbar button:disabled {
    color: #c0c0c0;
}

.annotation-editor iron-form {
    padding: 0 8px;
}

#authority-dialog {
    width: 33vw;
}

pb-authority-lookup {
    min-height: 60vw;
    max-height: 80vh;
}

pb-authority-lookup::part(output) {
    font-size: 1rem;
}

.authority-info {
    font-size: .9rem;
    max-height: 25vh;
    overflow: auto;
}

.text {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.preview header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pb-color-inverse);
}

.preview header .toolbar {
    flex-wrap: nowrap;
}

pb-tabs {
    --paper-tabs-selection-bar-color: #607D8B;
    height: calc(100% - 40px);
}

pb-tabs::part(pages) {
    height: calc(100% - 62px);
}

pb-tabs [slot="page"] {
    height: 100%;
    overflow: auto;
}

pb-tabs pre {
    margin: 0;
}

#output, #changes {
    font-size: .75em;
    --pb-code-highlight-white-space: pre-wrap;
}

#changes pb-code-highlight {
    margin-bottom: 10px;
}

#html {
    width: 100%;
    border: 0;
}

#view1 {
    overflow: auto;
    scroll-margin-top: 128px;
}

#view1::part(content) {
    line-height: 2;
}

#form-save {
    float: right;
}

#view1::part(highlight) {
    border: 3px solid rgb(255, 174, 0);
    border-radius: 8px;
}

#occurrences {
    overflow: auto;
    margin-top: 16px;
    padding: 0 8px;
    font-size: .85rem;
}

#occurrences h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pb-color-inverse);
}

#occurrences ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#occurrences li {
    margin-bottom: 12px;
}

#occurrences .id-warning {
    border-bottom: 1px dotted #ff3333;
}

#occurrences mark {
    padding: 2px 4px;
}

paper-icon-button[data-type="edit"] {
    background-color: var(--pb-toolbar-background-color);
}